ul {
    list-style-type: circle;
    margin-left: 3rem;
    padding: 1rem 0;
}

ol {
    margin-left: 3rem;
}
h1{
    font-family: var(--font-base);
    font-weight: 500;
    font-size: 30px;
    letter-spacing: -.01em;
    margin: 1rem 0;
}

p {
    font-family: var(--font-base);
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -.03em;
    line-height: 35px;
}

.label {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 775px;
    background: rgb(255, 228, 150);
    padding: 1rem 1.25rem;
    margin: 2rem 0;

    border: none;
    border-radius: 10px;
}


.label p{
    font-family: var(--font-base);
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -.03em;
    line-height: 35px;
    margin: 0 1.25rem;
}

.abstract_support {
    display: flex;
    padding: 4rem 5rem;
}

.abstract_support_signIn {
    font-family: var(--font-base);
    font-weight: 450;
    font-size: 20px;
    margin: 2rem 0;
}

.abstract_support_signIn span:hover {
    cursor:pointer;
    text-decoration: underline;
}

.abstract_support_contact , .abstract_support_ask , .abstract_support_inquiry{
    margin-bottom: 8rem;
}


.abstract_support_ask ul {
    list-style-type: disc;
}


.abstract_support_contact span ,
.abstract_support_ask span ,
.abstract_support_inquiry span {
    font-weight: bold;
}

.abstract_support_left {
    width: 60%;
}

.abstract_support_right {
    height: 1600px;
    width: 30%;
    margin-left: 5rem;
}

.abstract_support_float {
    position: sticky;
    top: 70px;
    width: 100%;
    text-align: left;
}

.abstract_support_float p {
    margin: 0.8rem 0;
    border-radius: 8px;
    padding: 5px 3px;
    line-height: normal;
}


.abstract_support_float p:hover{
    text-decoration: underline;
}

.abstract_support_float p +.isActive{
    text-decoration: none;
}

.isActive {
    background: var(--color-blue);
    color: var(--color-white);
}

@media screen and (max-width:1400px){
    .abstract_support_right {
        display: none;
    }

    .abstract_support_left {
        width: 100%;
    }

}

@media screen and (max-width: 900px){
    .label {
        width: 600px;
    }

    .label p{
        font-size: 16px;
        line-height: 31px;
    }

    .abstract_support {
        padding: 4rem 3rem;
    }
}

@media screen and (max-width: 650px){
    .label {
        width: 500px;
    }

    p {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: -.03em;
        line-height: 35px;
    }
}

@media screen and (max-width: 560px){
    .label {
        width:90%;
    }

    .abstract_support {
        padding: 3rem 1rem;
    }
}
