.abstract_footer {
    display: flex;
    width: 100%;
    background: var(--color-black);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 3rem;
    flex-wrap: wrap;
}

.abstract_footer_links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.abstract_footer_links_menu{
    margin: 1rem 3rem;
}

.abstract_footer_links_menu h2{
    color: var(--color-white);
    font-family: var(--font-base);
    margin: 1rem 0;
}

.abstract_footer_links_menu p {
    color: var(--color-white);
    font-family: var(--font-alt);
    font-size: 18px;
    font-weight: 300;
}

.abstract_footer_links_menu p:hover {
    text-decoration: underline;
    opacity: 0.8;
}

.abstract_footer_sign {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    margin-left: 1rem;
    margin-top: 8rem;
}

.abstract_footer_sign_logo img {
    height: 55px;
    width: 55px;
    margin: 5px;
}

.abstract_footer_sign_contact {
    color: var(--color-white);
    margin: 2rem 0;
}

.abstract_footer_sign_contact h2 {
    font-family: var(--font-base);
}

.abstract_footer_sign_contact p {
    font-family: var(--font-alt);
}

.abstract_footer_sign_logo p{
    color: var(--color-gray);
    opacity: 0.4;
}

@media screen and (max-width: 1500px){
    .abstract_footer_links_menu{
        margin: 1rem 2rem;
    }

    .abstract_footer {
        padding: 3rem 1rem;
    }
}