.section_padding {
    padding: 4rem 6rem;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 850px){
    .section_padding {
        padding: 4rem;
    }
}

@media screen and (max-width: 650px){
    .section_padding {
        padding: 4rem 2rem;
    }
}